@media screen and (max-width: 720px){
   
    label[for="nombre"] {
        display:none;
    }
    label[for="correo"] {
        display:none;
    }
    label[for="asunto"] {
        display:none;
    }
    label[for="mensaje"] {
        display:none;
    }
    fieldset div {
        max-width: 75%;
    }
    main section input:not(#politica) {
        width: 90%;
    }
}

@media screen and (max-width: 480px){
    main section input:not(#politica) {
        width: 72%;
    }
}