/*---------- MEDIA QUERIES - MOVIL -------------*/
@media screen and (max-width: 660px) {
    .marvelgot, .dcball {
        display: flex;
        flex-direction: column;
    }
    .marvelgot img,
    .dcball img {
        width: 100%;
        margin: 5px;
    }
     .catdiv1, .catdiv2 {
        display: flex;
        flex-direction: column;
    }
}