/*---------- MEDIA QUERIES - MOVIL -------------*/
@media screen and (max-width: 660px) {
    .contenedor {
        flex-direction: column;
    }

    header {
        flex-direction: column;
        padding: 0;
    }

    header .logo {
        margin: 20px 0;
    }

    /*Colocar iconos de acceso-login y carrito al mismo nivle:*/


    header nav li {
        width: 100%;
        flex-direction: column;
    }
    /*No interesa que aparezca el submenu en formato móvil*/
    header li ul {
        display:none!important;
    }

    footer {
        height:auto;
    }
    footer .copyright {
        text-align: center;
    }
}