/*---------- MEDIA QUERIES -------------*/
@media screen and (max-width: 800px) {
    .contenedor {
        flex-direction: column;
    }

    header {
        flex-direction: column;
        padding: 0;
    }

    header .logo {
        margin: 20px 0;
    }

    header nav a{
        width: 100%;
        flex-direction: column;
    }

    footer {
        height:auto;
    }
}