/*---------- MEDIA QUERIES -------------*/
@media screen and (max-width: 800px) {
    .ventas img,
    .novedades img,
    .ofertas img {
        width: 100%;
        margin: 5px;
    }

    aside {
        flex-direction: row;
        flex: 0;
    }

    aside .comentarios {
        flex-grow: 1;
    }
}