/*---------- MEDIA QUERIES - MOVIL -------------*/
@media screen and (max-width: 660px) {
    .ventas,.novedades,.ofertas {
        flex-direction: column;
    }
    .ventas img,
    .novedades img,
    .ofertas img {
        width: 100%;
        margin: 5px;
    }

    aside {
        flex-direction: column;
        flex: 1 1 100%;
    }

    aside .comentarios {
        flex-grow: 1;
    }
}