/*-- ESTILOS GENERALES de todas páginas--*/
body {
    font-family: Arial, fantasy;
    font-size: 1.5em;
}

ul {
    padding: 0px;
    list-style: none;
}

/*--HEADER--*/

header {
    background-color: #5499c7;
    width: 100%;
    max-width: 100%;
    height: auto;
    position:fixed;
    z-index:99;
}

header div {
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 5px;
}

.acceso,
.carrito {
    position: relative;
    bottom: 50px;
}

header li {
    padding: 12px;
}

.logo {
    width: 200px;
    height: auto;
    margin-left: 20px;
}

/*---Barra de búsqueda---*/
.busqueda input {
    padding: 10px;
    border-radius: 6px;
    position: relative;
    bottom: 60px;
}

div .texto {
    width: 420px;
}

/* Lupa del botón 'Buscar': */
.search {
    background-image: url("../MULTIMEDIA/IMAGENES/lupa.png");
    background-repeat: no-repeat;
    background-size: 50px;
    background-position-x: -0.3em;
    background-position-y: 0.15em;
    background-color: #154360;
    color: white;
    font-weight: bold;
    width: 110px;
    transition: 1s;
}

.search:hover {
    background-color: white;
    color: #154360;
    border: 2px solid #154360;
    transition: 1s;
    cursor: pointer;
}

/*--------------------*/

div.acceso,
div.carrito {
    width: 8%;
    flex-direction: row;
    text-align: center;
    margin: 20px 35px;
    padding: 10px;
    border-radius: 6px;
    background-color: #154360;
}

div.acceso a,
div.carrito a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

.acceso img,
.carrito img {
    width: 75%;
}

.acceso a:hover,
.carrito a:hover {
    color: #154360;
    background-color: white;
}

/*--------------------Animaciones-------------------------*/
/*-Botones de carrito y acceso-*/
#propiedades {
    background-color: #154360;
    transition-property: background-color, border-radius;
    transition-duration: 2s;
}

#propiedades:hover {
    background-color: #5499c7;
    border-radius: 17px;
}
/*Opciones del menú*/
#menu ul li {
    background-color: #154360;
    transition-property: background-color;
    transition-duration: 1s;
}

#menu ul li:hover {
    background: #5b78a7;
}

/*--NAV.menu--*/

.menu {
    background-color: #154360;
}

.menu ul {
    width: 100%;
    height: auto;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    background-color: #154360;
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}


.menu a {
    text-decoration: none;
    color: white;
}

.menu ul a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.menu ul li:hover {
    background: #5b78a7;
}

.menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
    width: 600px;
}

.menu ul ul li {
    float: none;
    width: 50%;
}

.menu ul ul ul li {
    float: right;
    width: 51%;
}

.menu ul ul a {
    line-height: 120%;
    padding: 10px 15px;
}

.menu ul li:hover>ul {
    display: block;
    transition-delay: 2s;
}

.menu ul ul li:hover ul {
    display: block;
    transition-delay: 2s;
    position: absolute;
    top: 0px;
    z-index: 99;
}

/*--FOOTER--*/

footer {
    background-color: #b3babe;
    width: 100%;
    max-width: 100%;
    display:block;
}

footer a {
    text-decoration: none;
    color: black;
}

.social,.info-pagina,.info-pago {
    display: inline-block;
    width: 28%;
    height: auto;
    padding: 20px;
    text-align: center;
}

footer .info-pagina {
	text-align: justify;
	margin-left: 50px;
	float: left;
	font-size: 14px;
}

footer .info-pagina p {
    font-weight: bold;
    font-style: oblique;
    text-align: justify;
}

.social,
.info-pago {
    border-left: 5px solid white;
}

div.social li,
div.info-pago li {
    display: inline-flex;
}

.social img,
.info-pago img {
    width: 2em;
    padding: 0px 10px;
}

.social img:hover,
.info-pago img:hover {
    cursor: pointer;
}

.copyright {
    width: 100%;
    padding:10px;
    background-color: white;
    text-align: center;
    font-size: 16px;
    margin-top:0px;
}

