/*--CSS contenido index.html--*/

.content {
    display:inline-flex;
    width: auto;
    max-width: 1920px;
    height: 800px;
    margin:20px 50px;
}

main {
    width:80%;
    margin:10px;
}

aside {
    float: right;
    width: 15%;
    max-width: 920px;
    height: 600px;
    max-height: 900px;
    border:2px solid black;
}

aside div {
    margin:20px;
    margin-top:50px;
}

aside img {
    float:left;
    width: 50px;
    margin-right:15px;
}

aside h3 {
    float:inline-end
    padding:10px;
    font-weight: bold;
}

aside p {
    padding:10px;
    text-align: justify;
    
}