body {
    font-family: fantasy;
    font-size: 20px;
}

header {
    background-color: #5499c7;
}
nav{
    background-color: #154360 ;
}

footer {
    background-color: #b3babe;
}

ul{
    padding: 0px;
    list-style: none;
}

header ul li {
    display:inline-block;   
}

header li {
    padding:12px;
}

footer div{
    display: inline-block;
    width:32.94%;
    height: 100px;
    
}

footer .social li {
    display:inline-block;
}

footer .info-pago li {
    display:inline-block;
}
footer div ul {
    text-align: center;
}