/* CSS para la página de cada producto */

main {
    width: 73%;
    margin: 2%;
    
}

/* PRODUCTO */

.imagenes {
    border:2px solid black;
    width:50%;
    float:left;
}

.imagenes img {
    width: 75%;
    margin-left: 10%;
}

.info {
    float:left;
    width: 40%;
    border:2px solid black;
    margin-left:3%;
    padding:6px;
    line-height: 60px;
}

.info h2 {
   font-size:1.2em;
   font-weight: bold;   
}

.info li {
    margin-left:5%;
    display:block;
    font-style:oblique;
}

.info li p input {
    width:40px;
    margin-left:4%;
    border-radius: 5px;
    padding:10px;
    font-size:0.8em;
}

.info li a {
    padding:6px;
    margin:5%;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border:2px solid grey;
    border-radius: 8px;
    background-color:#22638c;
}

.info li a:hover {
    background-color:#5499c7;
    color:black;
    border:2px solid black;
}

.descripcion {
    line-height: 30px;
    font-size: 0.8em;
}


/* - SECCIÓN PARA COMENTARIOS - */


aside {
    float: right;
    width: 18%;
    max-width: 600px;
    height: 600px;
    max-height: 900px;
    border: 2px solid black;
}

aside div {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 0px;
    margin-bottom: 20px;
    position: relative;
    top: 20px;
}

aside img {
    float: left;
    width: 50px;
    margin-right: 15px;
}

aside h3 {
    padding: 0px;
    font-weight: bold;
}

aside p {
    padding: 10px;
    text-align: left;
}