/* CSS para la página de cada producto */

.contenedor {
    height:auto;

    /* FLEXBOX */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

main {
    width: 100%;
    height: auto;
    
    /* FLEXBOX */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin:2% 0;
}

/* PRODUCTO */
/*Resto de estilos para el slider en slide.css*/
.imagenes img {
    width: 100%;
}

.info {
    width: 45%;
    padding: 10px;
    line-height: 60px;
    background-color: #5499c767;
    border-radius:6px;
}

.info h2 {
    font-size: 1.2em;
    font-weight: bold;
}

.info li {
    font-style: oblique;
    padding:5px;
}

.info .botones a {
    margin:5px;
}

.info li p input {
    width: 60px;
    border-radius: 5px;
    padding: 10px;
    font-size: 0.8em;
}

.info li a {
    padding: 6px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border: 2px solid grey;
    border-radius: 8px;
    background-color: #22638c;
}

.info li a:hover {
    background-color: #fff;
    color: #22638c;
    border: 2px solid #22638c;
}

.descripcion {
    line-height: 30px;
    font-size: 0.8em;
}


/* - SECCIÓN PARA COMENTARIOS - */


aside {
    width: 80%;
    max-width: 1000px;
    padding: 10px;
    margin-bottom:2%;
}

aside .comentarios {
    background-color:lightgrey;
    margin:5px;
    padding:6px;
    border-radius: 12px;
}

aside img {
    width: 50px;
}

aside h3 {
    padding: 0px;
    font-weight: bold;
}

aside p {
    padding: 10px;
    text-align: left;
}