main{
    width: 100%;
}
section{
    width: 80%;
    margin:auto;
}

fieldset {
    margin: auto;
    width:60%;
}

table, td {
    border:2px solid black;
    padding:10px;
}

table td label {
    width:100px;
    margin-right:200px;
}

table td input{
    
}
