/*CSS DEL SLIDER DE IMAGENES DE PRODUCTO*/


/*--------------Estilos GALERIA--------------*/
.imagenes {
	width:35%;
	max-width:1000px;
	margin:20px auto;
}

#galeria{
	color:black;
	width:60%;
	margin:0 2%;
	padding:10px 6px 10px 6px;
}

.galeria {
	display:flex;
}

.galeria ul {
	display:flex;
	flex-wrap: wrap;
	justify-content: flex-start;

}

.galeria li{
	margin:5px;
}

.galeria img{
	width:350px;
	height:auto;
}

/*Estilos del modal*/
.modal{
	display:none;
}

.modal:target{
	display:block;
	position:fixed;
	background:rgba(0,0,0,0.8);
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.modal h3{
	color:#fff;
	font-size:30px;
	text-align:center;
	margin:15px 0;
}

.imagen{
	width:100%;
	height:auto;
	/*para centrar flechas*/
	display:flex;
	justify-content:center;
	align-items:center;
}

/*Para que solo aparezca más grande la primera foto*/
.galeria li:first-child img {
	width: min-content;
	max-width: 550px;
	max-height:550px;
}
/*Y las otras junto a la grande pero en miniatura*/
.galeria li:nth-child(2) img, .galeria li:nth-child(3) img {
	width: 100px;
}

.imagen a{
	color:#fff;
	font-size:40px;
	text-decoration:none;
	margin:0 10px;
}

.imagen a:nth-child(2){/*seleccionando la 2ª etiqueta a*/
	margin:0;
	height:100%;
	flex-shrink:2;
}

.imagen img{
	width:500px;
	height:100%;
	max-width:100%;
	border:7px solid #fff;
	box-sizing:border-box;
}

.cerrar{
	display:block;
	background:#fff;
	width:25px;
	height:25px;
	margin:15px auto;
	text-align:center;
	text-decoration:none;
	font-size:23px;
	color:#000;
	padding:5px;
	border-radius:50%;
	line-height:18px;	
}

/*------------------FIN GALERIA----------------------*/
